@import url('https://fonts.googleapis.com/css?family=Montserrat:300');

html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

* {
  margin: 0;
  padding: 0;
}

.prompt{
    word-break:break-all
}

.footer-minimal {
  margin-top: -140px;
}

.text-highlight-black {
  background-color: rgba(255, 255, 255, 0.28);
  color: #333;
  padding: 2px;
  white-space: pre-wrap;
  word-spacing: -2px;
}

.box-icon-left .icon-box-icon {
  top: 26px;
}